div.figure {
	width: 100px;
	height: 100px;
	margin: 10px;
}

div.figureMini {
	width: 30px;
	height: 30px;
	margin: 2px;
	float: left;
}

li input {
	float : left;
	width: 35px !important;
	height: 35px !important;
}

p input {
	width: 35px !important;
	height: 35px !important;
}

.nomTetrimino {
	float: left;
	line-height: 35px;
}


div.bloc {
	position: relative;
	float: left;
	
	width: 25px;
	height: 25px;
	background: #eeeeee;
	
	border: solid 1px black;
}

div.blocMini {
	position: relative;
	float: left;
	
	width: 7.5px;
	height: 7.5px;
	background: #eeeeee;
}

div.bloc a {
	display: block;
	width: 100%;
	height: 100%;
}

.lienTetri {
	display: block;
	width: 100%;
	height: 100%;
}

input[type=color]:not(.browser-default) {
	background-color : transparent;
	border : none;
	border-radius : 0;
	outline : none;
	height: 3rem;
	width: 100%;
	font-size: 1rem;
	margin: 0 0 20px 0;
	padding: 0;
	box-shadow: none;
	box-sizing: content-box;
	transition: all 0.3s;
}

.posRelative {
	position: relative !important;
}